DB_NAME=attendance_db
DB_USER=attendance_user
DB_PASSWORD=your_local_password
DJANGO_SECRET_KEY=your_local_secret_key

# Geofence Configuration
GEOFENCE_LATITUDE=28.5300409164614
GEOFENCE_LONGITUDE=77.34955699676016
GEOFENCE_RADIUS_METERS=150.0
GEOFENCE_MAX_ACCURACY_METERS=200.0
