--
-- PostgreSQL database dump
--

\restrict K0PmZ43s7o3bIQVAJgT5tz4gkff0uScnMeJmB1OvQ7zQ9nCHXc8UUmGkd7Kqk4H

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: accounts_user; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.accounts_user (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    email character varying(254) NOT NULL,
    is_system_admin boolean NOT NULL,
    hr_copilot_sections jsonb NOT NULL,
    hr_copilot_subsections jsonb NOT NULL
);


ALTER TABLE public.accounts_user OWNER TO attendance_user;

--
-- Name: accounts_user_groups; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.accounts_user_groups (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.accounts_user_groups OWNER TO attendance_user;

--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.accounts_user_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.accounts_user ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: accounts_user_user_permissions; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.accounts_user_user_permissions (
    id bigint NOT NULL,
    user_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.accounts_user_user_permissions OWNER TO attendance_user;

--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.accounts_user_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.accounts_user_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: attendance_attendance; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.attendance_attendance (
    id bigint NOT NULL,
    date date NOT NULL,
    check_in timestamp with time zone,
    check_out timestamp with time zone,
    status character varying(20) NOT NULL,
    working_duration interval,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    employee_id bigint NOT NULL,
    leave_request_id bigint
);


ALTER TABLE public.attendance_attendance OWNER TO attendance_user;

--
-- Name: attendance_attendance_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.attendance_attendance ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.attendance_attendance_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: attendance_attendanceauditlog; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.attendance_attendanceauditlog (
    id bigint NOT NULL,
    "timestamp" timestamp with time zone NOT NULL,
    event_type character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    distance double precision,
    error_message text NOT NULL,
    employee_id bigint
);


ALTER TABLE public.attendance_attendanceauditlog OWNER TO attendance_user;

--
-- Name: attendance_attendanceauditlog_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.attendance_attendanceauditlog ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.attendance_attendanceauditlog_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO attendance_user;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO attendance_user;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO attendance_user;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO attendance_user;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO attendance_user;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO attendance_user;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO attendance_user;

--
-- Name: employees_employee; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.employees_employee (
    id bigint NOT NULL,
    department character varying(100) NOT NULL,
    employment_type character varying(20) NOT NULL,
    date_joined date NOT NULL,
    is_active boolean NOT NULL,
    user_id bigint NOT NULL,
    must_change_password boolean NOT NULL,
    section character varying(10) NOT NULL,
    subsection character varying(10) NOT NULL,
    app_access jsonb NOT NULL
);


ALTER TABLE public.employees_employee OWNER TO attendance_user;

--
-- Name: employees_employee_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.employees_employee ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_employee_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: employees_faceprofile; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.employees_faceprofile (
    id bigint NOT NULL,
    face_template double precision[] NOT NULL,
    model_name character varying(50) NOT NULL,
    detector_backend character varying(50) NOT NULL,
    version character varying(20) NOT NULL,
    status character varying(20) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    employee_id bigint NOT NULL
);


ALTER TABLE public.employees_faceprofile OWNER TO attendance_user;

--
-- Name: employees_faceprofile_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.employees_faceprofile ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.employees_faceprofile_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hr_copilot_copilotconversationcontext; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.hr_copilot_copilotconversationcontext (
    id bigint NOT NULL,
    conversation_id character varying(128) NOT NULL,
    context jsonb NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    user_id bigint NOT NULL
);


ALTER TABLE public.hr_copilot_copilotconversationcontext OWNER TO attendance_user;

--
-- Name: hr_copilot_copilotconversationcontext_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.hr_copilot_copilotconversationcontext ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hr_copilot_copilotconversationcontext_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: hr_copilot_copilotqueryaudit; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.hr_copilot_copilotqueryaudit (
    id bigint NOT NULL,
    question text NOT NULL,
    intent jsonb NOT NULL,
    query_plan jsonb NOT NULL,
    sql text NOT NULL,
    validation_result character varying(32) NOT NULL,
    scope_result character varying(32) NOT NULL,
    execution_result character varying(32) NOT NULL,
    error_code character varying(64) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    user_id bigint
);


ALTER TABLE public.hr_copilot_copilotqueryaudit OWNER TO attendance_user;

--
-- Name: hr_copilot_copilotqueryaudit_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.hr_copilot_copilotqueryaudit ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.hr_copilot_copilotqueryaudit_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: leave_management_leavepolicy; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.leave_management_leavepolicy (
    id bigint NOT NULL,
    employee_type character varying(20) NOT NULL,
    annual_entitlement numeric(5,1) NOT NULL,
    allow_carry_forward boolean NOT NULL,
    max_carry_forward numeric(5,1) NOT NULL,
    unused_expires boolean NOT NULL,
    max_consecutive_days integer NOT NULL,
    min_notice_days integer NOT NULL,
    allow_half_day boolean NOT NULL,
    requires_document boolean NOT NULL,
    effective_from date NOT NULL,
    effective_to date,
    is_active boolean NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL,
    leave_type_id bigint NOT NULL
);


ALTER TABLE public.leave_management_leavepolicy OWNER TO attendance_user;

--
-- Name: leave_management_leavepolicy_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.leave_management_leavepolicy ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leave_management_leavepolicy_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: leave_management_leaverequest; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.leave_management_leaverequest (
    id bigint NOT NULL,
    start_date date NOT NULL,
    end_date date NOT NULL,
    day_type character varying(20) NOT NULL,
    duration_days numeric(5,1) NOT NULL,
    reason text NOT NULL,
    status character varying(20) NOT NULL,
    submitted_at timestamp with time zone NOT NULL,
    reviewed_at timestamp with time zone,
    reviewer_remarks text NOT NULL,
    cancelled_at timestamp with time zone,
    cancelled_by_id bigint,
    employee_id bigint NOT NULL,
    reviewed_by_id bigint,
    leave_type_id bigint NOT NULL,
    attachment text NOT NULL
);


ALTER TABLE public.leave_management_leaverequest OWNER TO attendance_user;

--
-- Name: leave_management_leaverequest_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.leave_management_leaverequest ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leave_management_leaverequest_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: leave_management_leavetype; Type: TABLE; Schema: public; Owner: attendance_user
--

CREATE TABLE public.leave_management_leavetype (
    id bigint NOT NULL,
    name character varying(100) NOT NULL,
    code character varying(50) NOT NULL,
    description text NOT NULL,
    is_active boolean NOT NULL,
    is_paid boolean NOT NULL,
    requires_document boolean NOT NULL,
    allow_half_day boolean NOT NULL,
    allow_past_dates boolean NOT NULL,
    allow_future_dates boolean NOT NULL,
    min_notice_days integer NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


ALTER TABLE public.leave_management_leavetype OWNER TO attendance_user;

--
-- Name: leave_management_leavetype_id_seq; Type: SEQUENCE; Schema: public; Owner: attendance_user
--

ALTER TABLE public.leave_management_leavetype ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.leave_management_leavetype_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: accounts_user; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: accounts_user_groups; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.accounts_user_groups (id, user_id, group_id) FROM stdin;
\.


--
-- Data for Name: accounts_user_user_permissions; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.accounts_user_user_permissions (id, user_id, permission_id) FROM stdin;
\.


--
-- Data for Name: attendance_attendance; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: attendance_attendanceauditlog; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.attendance_attendanceauditlog (id, "timestamp", event_type, status, distance, error_message, employee_id) FROM stdin;
\.


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2026-09-20 13:47:33.622409+00	1	akshat.awasthi@dailoqa.com	1	[{"added": {}}]	2	1
2	2026-09-20 14:43:19.946298+00	1	akshat.awasthi@dailoqa.com - 2026-09-20	3		3	1
3	2026-09-20 15:36:49.14505+00	2	akshat.awasthi@dailoqa.com - 2026-09-20	3		3	1
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.django_content_type (id, app_label, model) FROM stdin;
1	accounts	user
2	employees	employee
3	attendance	attendance
4	admin	logentry
5	auth	permission
6	auth	group
7	contenttypes	contenttype
8	sessions	session
9	leave_management	leavetype
10	leave_management	leaverequest
11	leave_management	leavepolicy
12	hr_copilot	copilotqueryaudit
13	employees	faceprofile
14	attendance	attendanceauditlog
15	hr_copilot	copilotconversationcontext
\.


--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.django_session (session_key, session_data, expire_date) FROM stdin;
3k11ue51ox7r7neso8hlwt4hzre4zayd	e30:1xAlWu:2iGfqg3DTcCOLakoUn62ecxTCf-luD3j6TaXDJfz0jM	2026-10-11 09:50:44.600069+00
hmoxds9q2qn82qedmfbyws69sc3mbd9z	e30:1xAlWu:2iGfqg3DTcCOLakoUn62ecxTCf-luD3j6TaXDJfz0jM	2026-10-11 09:50:44.632458+00
\.


--
-- Data for Name: employees_employee; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: employees_faceprofile; Type: TABLE DATA; Schema: public; Owner: attendance_user
--

COPY public.employees_faceprofile (id, face_template, model_name, detector_backend, version, status, created_at, updated_at, employee_id) FROM stdin;
\.


--
-- Data for Name: hr_copilot_copilotconversationcontext; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: hr_copilot_copilotqueryaudit; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: leave_management_leavepolicy; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: leave_management_leaverequest; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Data for Name: leave_management_leavetype; Type: TABLE DATA; Schema: public; Owner: attendance_user
--



--
-- Name: accounts_user_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.accounts_user_groups_id_seq', 1, false);


--
-- Name: accounts_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.accounts_user_id_seq', 105, true);


--
-- Name: accounts_user_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.accounts_user_user_permissions_id_seq', 1, false);


--
-- Name: attendance_attendance_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.attendance_attendance_id_seq', 90, true);


--
-- Name: attendance_attendanceauditlog_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.attendance_attendanceauditlog_id_seq', 1, false);


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 60, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 3, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 15, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 36, true);


--
-- Name: employees_employee_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.employees_employee_id_seq', 87, true);


--
-- Name: employees_faceprofile_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.employees_faceprofile_id_seq', 1, false);


--
-- Name: hr_copilot_copilotconversationcontext_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.hr_copilot_copilotconversationcontext_id_seq', 31, true);


--
-- Name: hr_copilot_copilotqueryaudit_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.hr_copilot_copilotqueryaudit_id_seq', 194, true);


--
-- Name: leave_management_leavepolicy_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.leave_management_leavepolicy_id_seq', 13, true);


--
-- Name: leave_management_leaverequest_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.leave_management_leaverequest_id_seq', 12, true);


--
-- Name: leave_management_leavetype_id_seq; Type: SEQUENCE SET; Schema: public; Owner: attendance_user
--

SELECT pg_catalog.setval('public.leave_management_leavetype_id_seq', 11, true);


--
-- Name: accounts_user accounts_user_email_key; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_email_key UNIQUE (email);


--
-- Name: accounts_user_groups accounts_user_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_groups accounts_user_groups_user_id_group_id_59c0b32f_uniq; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_group_id_59c0b32f_uniq UNIQUE (user_id, group_id);


--
-- Name: accounts_user accounts_user_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.accounts_user
    ADD CONSTRAINT accounts_user_pkey PRIMARY KEY (id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permi_user_id_permission_id_2ab516c2_uniq UNIQUE (user_id, permission_id);


--
-- Name: accounts_user_user_permissions accounts_user_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: attendance_attendance attendance_attendance_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_attendance
    ADD CONSTRAINT attendance_attendance_pkey PRIMARY KEY (id);


--
-- Name: attendance_attendanceauditlog attendance_attendanceauditlog_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_attendanceauditlog
    ADD CONSTRAINT attendance_attendanceauditlog_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: employees_employee employees_employee_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employees_employee
    ADD CONSTRAINT employees_employee_pkey PRIMARY KEY (id);


--
-- Name: employees_employee employees_employee_user_id_key; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employees_employee
    ADD CONSTRAINT employees_employee_user_id_key UNIQUE (user_id);


--
-- Name: employees_faceprofile employees_faceprofile_employee_id_key; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employees_faceprofile
    ADD CONSTRAINT employees_faceprofile_employee_id_key UNIQUE (employee_id);


--
-- Name: employees_faceprofile employees_faceprofile_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employees_faceprofile
    ADD CONSTRAINT employees_faceprofile_pkey PRIMARY KEY (id);


--
-- Name: hr_copilot_copilotconversationcontext hr_copilot_copilotconversationcontext_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.hr_copilot_copilotconversationcontext
    ADD CONSTRAINT hr_copilot_copilotconversationcontext_pkey PRIMARY KEY (id);


--
-- Name: hr_copilot_copilotqueryaudit hr_copilot_copilotqueryaudit_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.hr_copilot_copilotqueryaudit
    ADD CONSTRAINT hr_copilot_copilotqueryaudit_pkey PRIMARY KEY (id);


--
-- Name: hr_copilot_copilotconversationcontext hr_copilot_user_conversation; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.hr_copilot_copilotconversationcontext
    ADD CONSTRAINT hr_copilot_user_conversation UNIQUE (user_id, conversation_id);


--
-- Name: leave_management_leavepolicy leave_management_leavepolicy_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.leave_management_leavepolicy
    ADD CONSTRAINT leave_management_leavepolicy_pkey PRIMARY KEY (id);


--
-- Name: leave_management_leaverequest leave_management_leaverequest_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.leave_management_leaverequest
    ADD CONSTRAINT leave_management_leaverequest_pkey PRIMARY KEY (id);


--
-- Name: leave_management_leavetype leave_management_leavetype_code_key; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.leave_management_leavetype
    ADD CONSTRAINT leave_management_leavetype_code_key UNIQUE (code);


--
-- Name: leave_management_leavetype leave_management_leavetype_pkey; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.leave_management_leavetype
    ADD CONSTRAINT leave_management_leavetype_pkey PRIMARY KEY (id);


--
-- Name: attendance_attendance unique_employee_attendance_per_day; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_attendance
    ADD CONSTRAINT unique_employee_attendance_per_day UNIQUE (employee_id, date);


--
-- Name: leave_management_leavepolicy unique_policy_per_employee_type_leave_type_effective_from; Type: CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.leave_management_leavepolicy
    ADD CONSTRAINT unique_policy_per_employee_type_leave_type_effective_from UNIQUE (employee_type, leave_type_id, effective_from);


--
-- Name: accounts_user_email_b2644a56_like; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX accounts_user_email_b2644a56_like ON public.accounts_user USING btree (email varchar_pattern_ops);


--
-- Name: accounts_user_groups_group_id_bd11a704; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX accounts_user_groups_group_id_bd11a704 ON public.accounts_user_groups USING btree (group_id);


--
-- Name: accounts_user_groups_user_id_52b62117; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX accounts_user_groups_user_id_52b62117 ON public.accounts_user_groups USING btree (user_id);


--
-- Name: accounts_user_user_permissions_permission_id_113bb443; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX accounts_user_user_permissions_permission_id_113bb443 ON public.accounts_user_user_permissions USING btree (permission_id);


--
-- Name: accounts_user_user_permissions_user_id_e4f0a161; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX accounts_user_user_permissions_user_id_e4f0a161 ON public.accounts_user_user_permissions USING btree (user_id);


--
-- Name: attendance_attendance_employee_id_63b4db5a; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX attendance_attendance_employee_id_63b4db5a ON public.attendance_attendance USING btree (employee_id);


--
-- Name: attendance_attendance_leave_request_id_096f3288; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX attendance_attendance_leave_request_id_096f3288 ON public.attendance_attendance USING btree (leave_request_id);


--
-- Name: attendance_attendanceauditlog_employee_id_3467baa4; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX attendance_attendanceauditlog_employee_id_3467baa4 ON public.attendance_attendanceauditlog USING btree (employee_id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: hr_copilot_copilotconversationcontext_user_id_7a58ceab; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX hr_copilot_copilotconversationcontext_user_id_7a58ceab ON public.hr_copilot_copilotconversationcontext USING btree (user_id);


--
-- Name: hr_copilot_copilotqueryaudit_user_id_c2fb64b5; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX hr_copilot_copilotqueryaudit_user_id_c2fb64b5 ON public.hr_copilot_copilotqueryaudit USING btree (user_id);


--
-- Name: leave_management_leavepolicy_leave_type_id_92e060b2; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX leave_management_leavepolicy_leave_type_id_92e060b2 ON public.leave_management_leavepolicy USING btree (leave_type_id);


--
-- Name: leave_management_leaverequest_cancelled_by_id_2cfc1ea1; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX leave_management_leaverequest_cancelled_by_id_2cfc1ea1 ON public.leave_management_leaverequest USING btree (cancelled_by_id);


--
-- Name: leave_management_leaverequest_employee_id_7af82e84; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX leave_management_leaverequest_employee_id_7af82e84 ON public.leave_management_leaverequest USING btree (employee_id);


--
-- Name: leave_management_leaverequest_leave_type_id_284dcb11; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX leave_management_leaverequest_leave_type_id_284dcb11 ON public.leave_management_leaverequest USING btree (leave_type_id);


--
-- Name: leave_management_leaverequest_reviewed_by_id_5184bc6f; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX leave_management_leaverequest_reviewed_by_id_5184bc6f ON public.leave_management_leaverequest USING btree (reviewed_by_id);


--
-- Name: leave_management_leavetype_code_26467e8d_like; Type: INDEX; Schema: public; Owner: attendance_user
--

CREATE INDEX leave_management_leavetype_code_26467e8d_like ON public.leave_management_leavetype USING btree (code varchar_pattern_ops);


--
-- Name: accounts_user_groups accounts_user_groups_group_id_bd11a704_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_group_id_bd11a704_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_groups accounts_user_groups_user_id_52b62117_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.accounts_user_groups
    ADD CONSTRAINT accounts_user_groups_user_id_52b62117_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_permission_id_113bb443_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_permission_id_113bb443_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: accounts_user_user_permissions accounts_user_user_p_user_id_e4f0a161_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.accounts_user_user_permissions
    ADD CONSTRAINT accounts_user_user_p_user_id_e4f0a161_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: attendance_attendanceauditlog attendance_attendanc_employee_id_3467baa4_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_attendanceauditlog
    ADD CONSTRAINT attendance_attendanc_employee_id_3467baa4_fk_employees FOREIGN KEY (employee_id) REFERENCES public.employees_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: attendance_attendance attendance_attendanc_employee_id_63b4db5a_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_attendance
    ADD CONSTRAINT attendance_attendanc_employee_id_63b4db5a_fk_employees FOREIGN KEY (employee_id) REFERENCES public.employees_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: attendance_attendance attendance_attendanc_leave_request_id_096f3288_fk_leave_man; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.attendance_attendance
    ADD CONSTRAINT attendance_attendanc_leave_request_id_096f3288_fk_leave_man FOREIGN KEY (leave_request_id) REFERENCES public.leave_management_leaverequest(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_employee employees_employee_user_id_27bed289_fk_accounts_user_id; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employees_employee
    ADD CONSTRAINT employees_employee_user_id_27bed289_fk_accounts_user_id FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: employees_faceprofile employees_faceprofil_employee_id_70688d42_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.employees_faceprofile
    ADD CONSTRAINT employees_faceprofil_employee_id_70688d42_fk_employees FOREIGN KEY (employee_id) REFERENCES public.employees_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hr_copilot_copilotconversationcontext hr_copilot_copilotco_user_id_7a58ceab_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.hr_copilot_copilotconversationcontext
    ADD CONSTRAINT hr_copilot_copilotco_user_id_7a58ceab_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: hr_copilot_copilotqueryaudit hr_copilot_copilotqu_user_id_c2fb64b5_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.hr_copilot_copilotqueryaudit
    ADD CONSTRAINT hr_copilot_copilotqu_user_id_c2fb64b5_fk_accounts_ FOREIGN KEY (user_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leave_management_leaverequest leave_management_lea_cancelled_by_id_2cfc1ea1_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.leave_management_leaverequest
    ADD CONSTRAINT leave_management_lea_cancelled_by_id_2cfc1ea1_fk_accounts_ FOREIGN KEY (cancelled_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leave_management_leaverequest leave_management_lea_employee_id_7af82e84_fk_employees; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.leave_management_leaverequest
    ADD CONSTRAINT leave_management_lea_employee_id_7af82e84_fk_employees FOREIGN KEY (employee_id) REFERENCES public.employees_employee(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leave_management_leaverequest leave_management_lea_leave_type_id_284dcb11_fk_leave_man; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.leave_management_leaverequest
    ADD CONSTRAINT leave_management_lea_leave_type_id_284dcb11_fk_leave_man FOREIGN KEY (leave_type_id) REFERENCES public.leave_management_leavetype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leave_management_leavepolicy leave_management_lea_leave_type_id_92e060b2_fk_leave_man; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.leave_management_leavepolicy
    ADD CONSTRAINT leave_management_lea_leave_type_id_92e060b2_fk_leave_man FOREIGN KEY (leave_type_id) REFERENCES public.leave_management_leavetype(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: leave_management_leaverequest leave_management_lea_reviewed_by_id_5184bc6f_fk_accounts_; Type: FK CONSTRAINT; Schema: public; Owner: attendance_user
--

ALTER TABLE ONLY public.leave_management_leaverequest
    ADD CONSTRAINT leave_management_lea_reviewed_by_id_5184bc6f_fk_accounts_ FOREIGN KEY (reviewed_by_id) REFERENCES public.accounts_user(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict K0PmZ43s7o3bIQVAJgT5tz4gkff0uScnMeJmB1OvQ7zQ9nCHXc8UUmGkd7Kqk4H

